:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lGrey: hsl(217, 12%, 63%);
    --mGrey: hsl(216, 12%, 54%);
    --blue: hsl(213, 19%, 18%);
    --dBlue: hsl(216, 12%, 8%);
}

input[type = "radio"]{
    display: none;
    }
    input[type="radio"]:checked+label {
      background-color: #bbb;
      color: var(--white);
    }

html {
    height: 100%;
    font-family: 'Overpass', sans-serif;
}

body{
    height: 100%;
    background-color: var(--dBlue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scorecard {
    background-color: var(--blue);
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    /* background-image: radial-gradient( circle farthest-corner at 50% 10%, rgba(100, 100, 255, 0.089), transparent); */

}

.starIcon {
    
    border-radius: 100%;
    background-color: hsl(216, 12%, 54%, 10%);
    padding: 1em;
}

h2, p {
    font-family: 'Overpass', sans-serif;
}

h2{
    color: var(--white);
    margin: 1em 0px 0px 0px;
}

p {
    font-size: 15px;
    color: var(--lGrey);
}

.feedback {
    /* padding: 1em; */

}

.scale {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.ratings {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    color: var(--lGrey);
    background-color: hsl(216, 12%, 54%, 10%);
    border-radius: 100%;
    border: none;
    padding: 1em;
    height: 1em;
    width: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}


.ratings:hover {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}

.entry {
    background-color: var(--orange);
    color: var(--white);
    font-family: 'Overpass', sans-serif;
    border: none;
    border-radius: 2em;
    width: 100%;
    padding: 1em 0;
    font-weight:700;
    letter-spacing: .1em;

}

.entry:hover {
    color: var(--orange);
    background-color: var(--white);
    cursor: pointer;
}

.thanksCard {
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation {
    background-color: hsl(216, 12%, 54%, 10%);
    color: var(--orange);
    border-radius: 2em;
    padding: .75em;
}

.receipt {
    display: flex;
    justify-content: center;
}

.appreciation {
    text-align: center;
    padding-bottom: .75em;
}